/*
WRITTEN BY: Travis Reid
*/

/*
dark blue: #1F64BF
medium blue: #2585D9
light blue: #A7D5F2
saturated green: #9CD941
desaturated green: #90BF49
*/

body {
  background-color: #90BF49;
  background-repeat: no-repeat;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  color: black;
}

a {
  color: #1F64BF;
}

em {
  font-style: normal;
  font-weight: bold;
}

.title {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
}

h1 {
  font-family: "Doto", sans-serif;
  font-weight: 800;
  padding:10px;
  font-size: 25pt;
}

h2 {
  font-family: "Doto", sans-serif;
  font-weight: 600;
  font-size: 20pt;
}

h3 {
  font-size: 15pt;
}

.row {
  margin: 20px;
}

.navbutton {
  width: max-content;
  margin: 5px 5px 0px 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 1.0);
  border-width: 1px;
  border-style: outset;
  color: #1F64BF;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  padding: 0px 5px;
}

nav.row {
  margin: 0px 20px;
  background: #9CD941;
  background: linear-gradient(0deg, rgba(156, 217, 65, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 15px 15px 0px 0px;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
  min-height: 40px;
  padding: 10px 10px 0px 20px;
}

.dropdown {
  position: relative;
  display: inline;
  width: max-content;
  margin: 0px;
  padding: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: max-content;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 1.0);
  border-width: 1px;
  border-style: outset;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  text-decoration: none;
}

.dropdown-content a {
  display: block;
}

.dropdown-content:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

aside {
  margin: 0px;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 5px;
  border-color: rgba(175, 175, 175, 0.8);
  border-width: 1px;
  border-style: outset;
  height: max-content;
}

footer {
  margin: 0px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
  padding:10px;
  font-size: 10pt;
}

main.row {
  margin: 0px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 15px 15px;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
  padding:20px;
}

article {
  margin: 0px 0px 20px 0px;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 5px;
  border-color: rgba(175, 175, 175, 0.8);
  border-width: 1px;
  border-style: outset;
}

figure {
  float: left;
  width: 30%;
  margin: 0px 20px 0px 0px;
}

figure img {
  width: 100%;
}

figure figcaption {
  position: relative;
  vertical-align: bottom;
  font-style: italic;
  font-size: 10pt;
}

article.fullpage {
  padding: 15px;
}

#noResults {
  display:none;
}

ul {
  padding-left: 40px;
  list-style-type: square;
}

dl {
  list-style-type: square;
  padding-left: 40px;
}

dt {
  display: list-item;
}