/*
WRITTEN BY: Travis Reid
*/

/*
neon green: #9CD941 rgb(156, 217, 65)
dark green: #3a5511
neon pink: #D941B4
neon purple: #8941D9
*/

@font-face {
    font-family: 'Neuropol';
    src: url('../fonts/Neuropol-Regular.eot');
    src: url('../fonts/Neuropol-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neuropol-Regular.woff2') format('woff2'),
        url('../fonts/Neuropol-Regular.woff') format('woff'),
        url('../fonts/Neuropol-Regular.ttf') format('truetype'),
        url('../fonts/Neuropol-Regular.svg#Neuropol-Regular') format('svg');
    font-weight: normal;
    font-display: swap;
}

body {
  background-color: rgb(144, 191, 73);
  background:linear-gradient(0deg, rgba(156, 217, 65, 0.5) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%), url("../assets/grid.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  color: black;
  min-height: 100vh;
}

a {
  color: #D941B4;
}

a:hover, a:visited:hover {
  color: #3a5511;
}

a:visited {
  color: #8941D9;
}

em {
  font-style: normal;
  font-weight: bold;
}

.title {
  background:linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(156, 217, 65, 1) 100%), url("../assets/swoop.jpg");
  background-size: cover;
  background-blend-mode: screen;
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
}

h1 {
  font-family: "Neuropol", sans-serif;
  padding:10px;
  font-size: 20pt;
}

h2 {
  font-family: "Neuropol", sans-serif;
  font-size: 17pt;
}

h3 {
  font-size: 15pt;
}

h4 {
  font-size: 15pt;
  font-style: italic;
}

.row {
  margin: 20px;
}

.navbutton {
  width: max-content;
  margin: 5px 5px 0px 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 1.0);
  border-width: 1px;
  border-style: outset;
  color: #D941B4;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  padding: 2px 10px;
}

nav.row {
  margin: 0px 20px;
  background: #9CD941;
  background: linear-gradient(0deg, rgba(156, 217, 65, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 15px 15px 0px 0px;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
  min-height: 40px;
  padding: 10px 10px 0px 20px;
}

.dropdown {
  position: relative;
  display: inline;
  width: max-content;
  padding: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: max-content;
  margin: 0px 0px 0px 5px;
  padding: 0px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 1.0);
  border-width: 1px;
  border-style: outset;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  text-decoration: none;
}

.dropdown-content a {
  border-radius: 5px;
  transition: 0.5s ease;
  display: block;
  padding: 5px 10px;
}

.dropdown-content a:hover {
  background-color: rgb(156, 217, 65);
}

.dropdown:hover .dropdown-content {
  display: block;
}

aside {
  margin: 0px;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 5px;
  border-color: rgba(175, 175, 175, 0.8);
  border-width: 1px;
  border-style: outset;
  height: max-content;
}

aside.gameimg {
  background-color: rgba(1,1,1,0.0);
  margin: 0px;
  padding: 0px;
  border-style: none;
}

footer {
  margin: 0px 20px 20px 20px;
  background-color: rgba(156, 217, 65, 0.5);
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(254, 255, 255, 0.10);
  border-width: 1px;
  border-style: outset;
  padding:10px;
  font-size: 8pt;
  font-family: "Neuropol", sans-serif;
}

main.row {
  margin: 0px 20px 20px 20px;
  background-color: rgba(156, 217, 65, 0.5);
  border-radius: 0px 0px 15px 15px;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 4px 5px rgba(0, 0, 0, 0.05), inset 0px 4px 12px 0px rgba(254, 255, 255, 0.20), 0px 4px 20px 0px rgba(254, 255, 255, 0.50);
  border-width: 1px;
  border-style: outset;
  padding:20px;
}

article {
  margin: 0px 0px 20px 0px;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 5px;
  border-color: rgba(175, 175, 175, 0.5);
  box-shadow: 0px 3px 4px 5px rgba(0, 0, 0, 0.05),;
  border-width: 2px;
  border-style: outset;
}

figure.decorimg {
  float: left;
  width: 30%;
  margin: 0px 20px 0px 0px;
  box-shadow: 0px 4px 20px 0px rgba(254, 255, 255, 0.50);
}

figure img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 20px 0px rgba(254, 255, 255, 0.50);
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
}

figure figcaption {
  position: relative;
  vertical-align: bottom;
  font-style: italic;
  font-size: 10pt;
  padding: 2px;
  margin: 5px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(254, 255, 255, 0.10), 0px 4px 20px 0px rgba(254, 255, 255, 0.50);;
  border-width: 1px;
  border-style: outset;
}

figure.gamelink{
  display: inline-block;
  width: 30%;
  position: relative;
  background: rgb(156, 217, 65);
  border-radius: 5px;
}

figure.gamelink img{
  transition: 0.5s ease;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: outset;
}

figcaption.gamelinktext {
  opacity: 0.0;
  padding: 5px;
  transition: 0.5s ease;
  z-index: 5;
  position: absolute;
  text-align: center;
  vertical-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15pt;
  color: black;
  cursor: not-allowed;
  pointer-events: none;
}

figure.gamelink img:hover {
  opacity: 0.3;
}

figure.gamelink:hover figcaption.gamelinktext {
  opacity: 1.0;
  color: black;
}

article.fullpage {
  padding: 15px;
}

#noResults {
  display:none;
}

ul {
  padding-left: 40px;
  list-style-type: "➠ ";
}

dl {
  list-style-type: "➠ ";
  padding-left: 40px;
}

dt {
  display: list-item;
}

h2 {
  margin: 20px 0px 10px 0px;
}

h2:first-child {
  margin-top:0px;
}

.filterclearbutton {
  display: inline;
  float: right;
  margin: 0px 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 1.0);
  border-width: 1px;
  border-style: outset;
  color: #D941B4;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  padding: 0px 5px;
}

.filterheader {
  display:inline;
}