body {
  background-color: grey;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: "Doto", sans-serif;
  font-weight: 800;
}

h2 {
  font-family: "Doto", sans-serif;
  font-weight: 600;
}

.row {
  background-color: lightblue;
}

#noResults {
  display:none;
}